In [229]:
import pandas as pd


df_recibo = pd.read_csv('files/YLM SEGUROS 01-11.csv', sep=';', skiprows=9, nrows=1)

desconto = pd.read_csv('files/YLM SEGUROS 01-11.csv', sep=';', skiprows=13, nrows=1)

df1 = pd.read_csv('files/YLM SEGUROS 01-11.csv', sep=';', skiprows=15)


"""--------------------Tabela Principal----------------"""
df1['Endosso / Fatura'] = df1['Endosso / Fatura']
df1['Apolice'] = df1['Apolice'].astype(str)
df1['Segurado'] = df['Segurado'].str.strip()
df1['Premio'] = df1['Premio']
df1['% Comissao'] = df1['% Comissao'] 
df1['Valor Comissao'] = df1['Valor Comissao'] 
df1['Parcela'] = df1['Parcela'].str.split('/').str[0].str.replace("'", "")
#Ranomeando as colunas:
df1 = df1.drop(columns=['Marca', 'Lancamento'])
colunas = ['Segurado', 'Apolice', 'Endosso','Parc', 'Prêmio', '%', 'Comissão']
df1.columns = colunas
df1 = df1.astype(str)
"""-------------------------------------------------------"""

"""---------------------Tabela Desconto-------------------"""
df_desconto = pd.DataFrame()

df_desconto['Segurado'] = ['Desc. de Adiantamento - R$']
df_desconto['apolice'] = ['0']
df_desconto['Endosso'] = ['0']
df_desconto['Parcela'] = ['0']
df_desconto['Premio'] = ['0,00']
df_desconto['% Comissao'] = ['0,00']
df_desconto['Valor Comissao'] = ('-'+ desconto['Desc. de Adiantamento - R$']).str.replace(' ','')
## Renomeando as colunas
colunas = ['Segurado', 'Apolice', 'Endosso', 'Parc', 'Prêmio', '%', 'Comissão']
df_desconto.columns = colunas
"""-------------------------------------------------------"""


#
if df1 is not None and df_desconto is not None:
    df = pd.concat([df1, df_desconto], ignore_index=True)
else:
    df = df1

recibo = ' '.join(df_recibo['Nr. Demonstrativo'].astype(str).tolist())
df['Data'] = 'oi'
df['Recibo'] = recibo
df['Data'] = leitura_data_arquivo(nome_arquivo)
df['Prêmio'] = df['Prêmio'].apply(number_format)
df['%'] = df['%'].apply(number_format)
df['Comissão'] = df['Comissão'].apply(number_format)

return df

,Segurado,Apolice,Endosso,Parc,Prêmio,%,Comissão,Data,Recibo
0,FLAVIA REYSEL WOELLNER,311620241077749,0,01,"210,28","12,00","25,23",oi,967
1,FLAVIA REYSEL WOELLNER,311620241077749,0,02,"210,36","12,00","25,22",oi,967
2,FLAVIA REYSEL WOELLNER,311620241077749,0,03,"210,36","12,00","25,22",oi,967
3,FLAVIA REYSEL WOELLNER,311620241077749,0,04,"210,36","12,00","25,22",oi,967
4,FLAVIA REYSEL WOELLNER,311620241077749,0,05,"210,36","12,00","25,22",oi,967
5,FLAVIA REYSEL WOELLNER,311620241077749,0,06,"210,36","12,00","25,22",oi,967
6,FLAVIA REYSEL WOELLNER,311620241077749,0,07,"210,36","12,00","25,22",oi,967
7,FLAVIA REYSEL WOELLNER,311620241077749,0,08,"210,36","12,00","25,22",oi,967
8,Desc. de Adiantamento - R$,0,0,0,"0,00","0,00","-0,00",oi,967

In [211]:
df_recibo['Nr. Demonstrativo'].astype(str)

0    967
Name: Nr. Demonstrativo, dtype: object

In [204]:
desconto['Desc. de Adiantamento - R$'].dropna().index[0]

0